.home-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .home-title {
    color: #3e3662;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .menu-button {
    padding: 15px 40px;
    background-color: #3e3662;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s;
  }
  
  .menu-button:hover {
    background-color: #575767;
  }
  