body { 
    height: 100vh; 
    margin: 0;
    background-image: linear-gradient(to right, #575767 60%, #808080 40%);
  }

  .group{
    display: flex; 
    align-items: flex-start; 
    margin-bottom: 10px; 
    width: 600px; 
    margin-left: 450px;
    margin-right: auto;
    margin-top: 30px;
  }
  .group label {
    color: white; 
    text-align: left; 
    padding: 15px;
    margin-left:100px;
    margin-right: 20px;
    background-color: #0b0b0b;
    color: rgb(243, 236, 236);
    border-radius: 70px;
    width: 100px; 
    height: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin-top: 5px;
  }

  .email-text{
    padding: 7px; 
    border: 1px solid #ccc; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 25px; 
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 20px;
  }

  .name-text {
    margin-left: 20px;
    margin-top: 10px;
    padding: 7px; 
    border: 1px solid #ccc; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 25px; 
    box-sizing: border-box;
  }

  .contraseña-text {
    margin-left: 20px;
    margin-top: 10px;
    padding: 7px; 
    border: 1px solid #ccc; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 25px; 
    box-sizing: border-box;
  }

  .contraseñaB-text {
    margin-left: 20px;
    margin-top: 10px;
    padding: 7px; 
    border: 1px solid #ccc; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 25px; 
    box-sizing: border-box;
  }

  .registrarse{
    margin-top: 90px;
    padding: 20px;
    margin-left:590px;
    background-color: #3e3662;
    color: rgb(243, 236, 236);
    border-radius: 100px;
    width: 400px; 
    height: 15px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
  }






